In [16]:
pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.0.1-cp38-cp38-win_amd64.whl (7.2 MB)
Requirement already satisfied: joblib>=0.11 in c:\anaconda\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.14.6 in c:\anaconda\lib\site-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: scipy>=1.1.0 in c:\anaconda\lib\site-packages (from scikit-learn) (1.7.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\anaconda\lib\site-packages (from scikit-learn) (2.1.0)
Installing collected packages: scikit-learn
Successfully installed scikit-learn-1.0.1
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('training_dataset.csv')

In [4]:
data

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,extraverted
1,Male,19,4,5,4,6,6,serious
2,Female,18,7,6,4,5,5,dependable
3,Female,22,5,6,7,4,3,extraverted
4,Female,19,7,4,6,5,4,lively
...,...,...,...,...,...,...,...,...
704,Female,20,4,5,6,6,1,responsible
705,Male,18,6,3,1,5,5,dependable
706,Male,22,5,2,3,6,1,serious
707,Male,19,5,6,5,7,5,extraverted
708,Female,18,5,5,7,6,5,extraverted

In [21]:
data.isnull().sum()

Gender                       0
Age                          0
openness                     0
neuroticism                  0
conscientiousness            0
agreeableness                0
extraversion                 0
Personality (Class label)    0
dtype: int64

In [31]:
array = data.values

for i in range(len(array)):
    if array[i][0]=="Male":
         array[i][0]=1
    else:
        array[i][0]=0

In [32]:
df = pd.DataFrame(array)

In [33]:
df

     0   1  2  3  4  5  6            7
0    1  17  7  4  7  3  2  extraverted
1    1  19  4  5  4  6  6      serious
2    0  18  7  6  4  5  5   dependable
3    0  22  5  6  7  4  3  extraverted
4    0  19  7  4  6  5  4       lively
..  ..  .. .. .. .. .. ..          ...
704  0  20  4  5  6  6  1  responsible
705  1  18  6  3  1  5  5   dependable
706  1  22  5  2  3  6  1      serious
707  1  19  5  6  5  7  5  extraverted
708  0  18  5  5  7  6  5  extraverted

[709 rows x 8 columns]

In [75]:
maindf =df[[0,1,2,3,4,5,6]]
x=maindf.values
y=df[7]

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=3)

## Using Logistic Regression

In [70]:
logistic_regression = LogisticRegression()

In [71]:
logistic_regression.fit(x_train, y_train)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [72]:
y_pred = logistic_regression.predict(x_test)

In [73]:
accuracy = metrics.accuracy_score(y_test, y_pred)
accuracy_percentage = 100 * accuracy
accuracy_percentage

20.786516853932586

## Logistic Regression try2

In [82]:
mul_lr = linear_model.LogisticRegression(multi_class='multinomial', solver='newton-cg',max_iter =5000)
mul_lr.fit(x, y)

LogisticRegression(max_iter=5000, multi_class='multinomial', solver='newton-cg')

In [83]:
y_pred = mul_lr.predict(x_test)

In [84]:
accuracy = metrics.accuracy_score(y_test, y_pred)
accuracy_percentage = 100 * accuracy
accuracy_percentage

25.842696629213485